.nav.nav-pills {
    a.router-link-active:hover,
    a.router-link-active:focus {
        background: #27AE60;
    }
    a.router-link-active {
        background: #2ECC71;
        color: #fff;
    }
}

.questions ul {
    list-style: none;
}
.questions>ul {
    padding: 0;
}
.questions>ul>li>p {
    font-weight: bold;
}
.questions>ul ul{
    padding-left: 12px;
}
.questions label {
    padding: 3px 8px;
    font-weight: normal;
}
.questions label input {
    margin-right: 8px;
}
.questions .right {
    background: #2ECC71;
    color: #fff;
}